* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(20,54,94);
  background: linear-gradient(90deg, rgba(20,54,94,1) 0%, rgba(49,2,84,1) 100%);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 25px;
}

.menu-icon {
  font-size: 30px;
  color: #c4ff44;
}

.heading-content {
  padding: 20px;
  height: 100%;
}

.heading-content h1 {
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 20px;
}

.heading-content p {
  padding: 20px 0;
  line-height: 27px;
}

.events-btn {
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  background: #c4ff44;
  color: #000;
  box-shadow: 5px 5px 40px 15px #a7e129;
  border-radius: 50px;
  padding: 10px 15px;
}