* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100%;
}

body {
  font-family: 'Josefin Sans', sans-serif;
  background: rgb(20,54,94);
  background: linear-gradient(90deg, rgba(20,54,94,1) 0%, rgba(49,2,84,1) 100%);
  color: #fff;
}

a {
  color: #fff;
  text-decoration: none;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.logo {
  font-size: 25px;
}

.menu-icon {
  font-size: 30px;
  color: #c4ff44;
}

.heading-content {
  padding: 20px;
  height: 100%;
}

.heading-content h1 {
  color: #ffffff;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 20px;
}

.heading-content p {
  padding: 20px 0;
  line-height: 27px;
}

.events-btn {
  margin: 20px auto;
  width: 80%;
  display: block;
  text-align: center;
  background: #c4ff44;
  color: #000;
  box-shadow: 5px 5px 40px 15px #a7e129;
  border-radius: 50px;
  padding: 10px 15px;
}

/* ---------------------Top-Songs-section------------------------- */

.top-songs {
  text-align: center;
}

.top-songs h2 {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  margin: 20px auto;
  border-bottom: 1px solid #c4ff44;
}

.musics-container {
  display: flex;
  flex-wrap: wrap;
}

.musics-container a {
  display: block;
  width: 50%;
  text-align: center;
}

.music {
  margin: 10px;
}

.music-art {
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  height: auto;
}

.music .music-author{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* ---------------------Top-Songs-section------------------------- */

.top-songs {
  text-align: center;
}

.top-songs h2 {
  display: inline-block;
  font-family: 'Permanent Marker', cursive;
  margin: 20px auto;
  border-bottom: 1px solid #c4ff44;
}

.musics-container {
  display: flex;
  flex-wrap: wrap;
}

.musics-container a {
  display: block;
  width: 50%;
  text-align: center;
}

.music {
  margin: 10px;
}

.music-art {
  border-radius: 10px;
  margin: 10px auto;
  width: 100%;
  height: auto;
}

.music .music-author{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

/* -------------------Featured Performers Section-------------------------- */

.featured-performers {
  text-align: center;
}

.featured-performers h2 {
  font-family: 'Permanent Marker', cursive;
  display: inline-block;
  margin: 20px 0;
  border-bottom: 1px solid #c4ff44;
}

.performers-container {
  display: flex;
  flex-wrap: wrap;
}

.performers {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  text-align: left;
  flex: 1 1 300px;
}

.performers-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.performance-descrtiption .performance-info {
  font-weight: lighter;
  margin: 10px 0;
}

.book-btn {
  background-color: #c4ff44;
  padding: 10px 20px;
  float: right;
  color: #000;
  margin-top: 20px;
  border-radius: 10px;
}

/* --------------About Us---------------- */

.about-icons {
  font-size: 50px;
  margin: 20px 0;
}

.about-us-section header {
  background: url(./images/about-us.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 10px;
  text-align: center;
  height: 50vh;
  display: flex;
  flex-direction: column;
}

.about-us-section header nav {
  width: 100%;
  display: flex;
  justify-content: space-between;

}

.about-us-section h1 {
  font-family: 'Permanent Marker', cursive;
  color: #c4ff44;
  font-size: 50px;
  border-bottom: 1px solid #c4ff44;
  align-self: center;
  margin-top: 20px;
}

.about-content {
  padding: 20px;
}

.about-content p {
  line-height: 27px;
  border-radius: 10px;
  padding: 10px 20px;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.2);
}

.about-content .email-link {
  display: block;
  text-decoration: underline;
  color: #c4ff44;
  text-align: center;
}

.about-us,
.ticketing
{
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.about-us-section h2 {
  font-family: 'Permanent Marker', cursive;
  border-bottom: 1px solid #c4ff44;
  font-size: 50px;
  margin: 10px auto;
}

.concert p {
  font-weight: lighter;
  text-align: center;
  text-transform: uppercase;
}

.concerts-info {
  display: flex;
  flex-wrap: wrap;
} 

.concerts-info .info {
  width: 50%;
  text-align: center;
  margin: 20px 0;
}

.info h3, 
.ticketing-info h3
{
  font-size: 40px;
  color: #c4ff44;
}

/* Ticketing */

.ticketing p:first-of-type {
  text-align: center;
  margin: 20px 0;
}

.ticketing-info {
  text-align: center;
  margin: 20px 0;
}